{% extends "base.html" %}

{% block title %}
Flask Home
{% endblock %}

{% block content %}
<div class="container">
    <h1>TASK MANAGER</h1>
    <table border="1">
        <thead>
            <tr>
                <th>TASK</th>
                <th>ADDED</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="#">DELETE</a>
                    <br>
                    <a href="#">UPDATE</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="#">DELETE</a>
                    <br>
                    <a href="#">UPDATE</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="#">DELETE</a>
                    <br>
                    <a href="#">UPDATE</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
