{% extends "base.html" %}

{% block title %}
Flask Home
{% endblock %}

{% block content %}
<div class="container">
    <h1>TASK MANAGER</h1>
    <table border="1">
        <thead>
            <tr>
                <th>TASK</th>
                <th>ADDED</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Example Task 1</td>
                <td>2025-12-23 16:00</td>
                <td>
                    <a href="#">DELETE</a><br>
                    <a href="#">UPDATE</a>
                </td>
            </tr>
            <tr>
                <td>Example Task 2</td>
                <td>2025-12-23 17:00</td>
                <td>
                    <a href="#">DELETE</a><br>
                    <a href="#">UPDATE</a>
                </td>
            </tr>
            <!-- You can add more static rows or use Flask loops to dynamically populate -->
        </tbody>
    </table>
</div>
{% endblock %}
